$main_color_1: #43b1d2;
$main_color_2: #cbd4e6;
$main_color_3: #37c3a8;
$color_of_block2: #3fb6c6;
$color_of_block3: #3cbbbb;
$color_of_button: #0087be;
$bg_sections:#e5e9f2;
$color_links: #494848;
$color_1: #9fa2a7;
$display: flex;
$margin: 0;
$padding: 0;
$align-items: center;
$width: 1140px;
$justify_content:flex-end;
$color: null;
$width_bar: 285px;
$justify_content_bar:center;
$FD_bar: column;
$position_logo: absolute;
$R_move_logo: 10px;
$B_move_logo: 15px;
$S_height: 130px;
$FF_Calibri: Calibri, Candara, Segoe, Optima, Arial, sans-serif;
$FF_Lato: Lato,Montserrat,Myriad Pro,sans-serif;
$T_color: white;
